version: '3.8'

services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: agente_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hr_database
    ports:
      - "5432:5432" 
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d # Mapea tu carpeta local a la carpeta de inicio de scripts de PostgreSQL
      - postgres_data:/var/lib/postgresql/data/
    
volumes:
  postgres_data:
